__pycache__/
.idea/
.ipynb_checkpoints/
*.py[cod]
*.so
*.orig
*.o
*.json
*.pth
*.npy
*.DS_Store
lib/csrc/extreme_utils/build/
lib/csrc/roi_align_layer/build/
debug_metrics/
data/
circlesnake-apex/
lib/csrc/DCNv2_latest/build/lib/csrc/dcn_v2/build/
